# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env

# Streamlit cache
.streamlit/

# HuggingFace / model cache
.cache/
huggingface/

# FAISS index files (optional if regenerated)
*.faiss
*.pkl

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE settings
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/